target/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
.codex/
.opencode
opencode.json
AGENTS.md
/ТЗ
.env
.env.*
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
.DS_Store
.codex
graphs/
*.png
